body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navParent {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navParent img {
    height: 40px;
    width: 40px;
}

.navChild {
    display: flex;
    align-items: center;
}

.navArea {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navArea li {
    display: inline;
}

.navArea li a {
    text-decoration: none;
    color: #a19d9d;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navArea li a:hover {
    color: #ffffff;
}

.intro h1{
    font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.intro p {
    font-size: 18px;
    color: #ffffff;
}
.main {
    padding: 50px;
    /* width: 800px; */
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #ffffff;
}
.history {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.history-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.history-item p {
    font-weight: bold;
    margin: 0;
}

.history-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.2rem;
}
.history-list .historyDescription {
    margin: 0;
    padding: 0;
}
.button-link {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(35, 36, 38, 0.5); /* Tailwind's bg-gray-500 with 50% opacity */
    color: white;
    font-weight: 600;
    font-size: 0.875rem; /* Tailwind's text-sm */
    border-radius: 0.375rem; /* Tailwind's rounded-md */
    text-decoration: none;
    transition: background-color 0.2s;
    height: 15px;
}

.button-link:hover {
    background-color: rgba(75, 85, 99, 0.5); /* Tailwind's hover:bg-gray-600 with 50% opacity */
}

.historyImage {
    max-width: 25px;
    margin-right: 0.5rem;
    /* height: 15px; */
}



.main h1 {
    font-size: 36px;
    color: #ffffff;
}


.history {
    line-height: 0.3em;
}
.findme{
    line-height: 0.3em;

}

.stuffs div + div {
    margin-top: 50px;
}

.findme a {
    text-decoration: underline;
}